<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
</head>
<body>
    <h1>New post</h1>
    <form action="/posts" method="post">
        <div><label for="title">Title</label>
            <input type="text" id="post" name="title" placeholder="title">
        </div>
        <div><label for="price">Price</label>
            <input type="text" id="price" name="price" placeholder="price">
        </div>
        <div><label for="location">Location</label>
            <input type="text" id="location" name="location" placeholder="location"></div>
        <div><textarea name="description" id="" cols="30" rows="5" placeholder="description">Description</textarea></div>

    </form>
</body>
</html>

<!--  Post - string

Price - number

Location - string

Description - string -->

